.bg-main-color {
  background-color: rgb(247, 100, 36);
}

.sm-outline {
  outline: rgba(var(--bs-secondary-rgb)) solid 1px;
  border-radius: 3px;
  @media (width < 576px) {
    border-radius: 0px;
  }
}

.md-outline {
  outline: rgba(var(--bs-secondary-rgb)) solid 1px;
  border-radius: 3px;
  @media (width < 1200px) {
    border-radius: 0px;
  }
}